body{
	margin: 5px;
	padding: 0;
	background-image:url(back.jpg);
}
#zew{
	color: #000;
	margin: 5px;
	position: absolute;
	top: 110px;
	left: 0;
	padding: 0;
	width: 99.3%;
	min-Width: 900px;
}
#naglowek{
	background-image:url(logo.png);
	background-repeat:no-repeat;
	background-position:center; 
	height: 70px;
	text-align:center;
	font-size:20px;
	clear: both;
	margin-bottom: 15px;
}
#menu{
	width: 200px;
	height: 440px;
	overflow: hidden;
	position:absolute;
	background-color:#ececea;
	font-size:17px;
	left: 10px;
	top: 95px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}
#formularz{
	min-height: 420px;
	background-color:#ececea;
	position:relative;
	margin-left: 220px;
	margin-top: 25px;
	margin-right: 220px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 400px;
}
#lista{
	width: 200px;
	height: 440px;
	position: absolute;
	background-color:#ececea;
	right: 10px;
	top: 95px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0px;
}
#stopka{
	background-color:gray;
	text-align:center;
	font-size:20px;
	clear: both;
	margin-top: 15px;;
	height: 40px;
}

ul.menu, li.menuItem {
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li.menuItem {

}

ul.menu a:link, ul a:visited {
	text-decoration: none;
	display: block;
	width: 195px;
	height: 30px;
	background-color: #97c03d;
	color: #000;
	text-align: left;
	padding-left: 5px;
}
ul.menu a:hover {
	width: 185px;
	height: 30px;
	padding-left: 15px;